In [1]:
print("hello world")

hello world

In [7]:
import pandas as pd
import numpy as np

In [3]:
df_data = pd.read_csv(r"C:\Users\thang\Desktop\Water_classfiaction_app\data\raw_data\pre_procese_data.csv")

In [4]:
df_data

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,nitrites_high,mercury_high,perchlorate_high,radium_high,selenium_high,silver_high,uranium_high,danger_count,nitrate_nitrite_ratio,bacteria_viruses
0,1.65,9.08,0.04,2.85,0.007,0.35,0.83,0.17,0.05,0.20,...,1,1,0,1,0,1,0,11,14.230088,0.00000
1,2.32,21.16,0.01,3.31,0.002,5.28,0.68,0.66,0.90,0.65,...,1,1,0,0,0,1,0,9,1.041451,0.42250
2,1.01,14.02,0.04,0.58,0.008,4.24,0.53,0.02,0.99,0.05,...,1,1,0,1,0,1,0,12,12.756757,0.00015
3,1.36,11.33,0.04,2.96,0.001,7.23,0.03,1.66,1.08,0.71,...,1,1,0,0,0,1,0,10,1.093023,0.50410
4,0.92,24.33,0.03,0.20,0.006,2.67,0.69,0.57,NaN,0.13,...,1,1,0,0,0,0,0,8,6.072072,0.00013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7994,0.05,7.78,0.00,1.95,0.040,0.10,0.03,0.03,1.37,0.00,...,0,1,0,0,0,0,0,4,14.290000,0.00000
7995,0.05,24.22,0.02,0.59,0.010,0.45,0.02,0.02,1.48,0.00,...,0,0,0,0,0,0,0,4,10.270000,0.00000
7996,0.09,6.85,0.00,0.61,0.030,0.05,0.05,0.02,0.91,0.00,...,0,0,0,0,0,0,0,3,15.920000,0.00000
7997,0.01,10.00,0.01,2.00,0.000,2.00,0.00,0.09,0.00,0.00,...,0,0,0,0,0,0,0,0,0.000000,0.00000
7998,0.04,6.85,0.01,0.70,0.030,0.05,0.01,0.03,1.00,0.00,...,0,0,0,0,0,0,0,3,15.920000,0.00000

In [5]:
df_data.shape

(7999, 43)

In [6]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7999 entries, 0 to 7998
Data columns (total 43 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   aluminium              7999 non-null   float64
 1   ammonia                7996 non-null   float64
 2   arsenic                7999 non-null   float64
 3   barium                 7999 non-null   float64
 4   cadmium                7751 non-null   float64
 5   chloramine             7999 non-null   float64
 6   chromium               7999 non-null   float64
 7   copper                 7999 non-null   float64
 8   flouride               7935 non-null   float64
 9   bacteria               7999 non-null   float64
 10  viruses                7999 non-null   float64
 11  lead                   7999 non-null   float64
 12  nitrates               7999 non-null   float64
 13  nitrites               7999 non-null   float64
 14  mercury                7999 non-null   float64
 15  perchlorate            7732 non-null   float64
 16  radium                 7999 non-null   float64
 17  selenium               7999 non-null   float64
 18  silver                 7999 non-null   float64
 19  uranium                7999 non-null   float64
 20  is_safe                7999 non-null   object
 21  aluminium_high         7999 non-null   int64
 22  ammonia_high           7999 non-null   int64
 23  arsenic_high           7999 non-null   int64
 24  barium_high            7999 non-null   int64
 25  cadmium_high           7999 non-null   int64
 26  chloramine_high        7999 non-null   int64
 27  chromium_high          7999 non-null   int64
 28  copper_high            7999 non-null   int64
 29  bacteria_high          7999 non-null   int64
 30  viruses_high           7999 non-null   int64
 31  lead_high              7999 non-null   int64
 32  nitrates_high          7999 non-null   int64
 33  nitrites_high          7999 non-null   int64
 34  mercury_high           7999 non-null   int64
 35  perchlorate_high       7999 non-null   int64
 36  radium_high            7999 non-null   int64
 37  selenium_high          7999 non-null   int64
 38  silver_high            7999 non-null   int64
 39  uranium_high           7999 non-null   int64
 40  danger_count           7999 non-null   int64
 41  nitrate_nitrite_ratio  7999 non-null   float64
 42  bacteria_viruses       7999 non-null   float64
dtypes: float64(22), int64(20), object(1)
memory usage: 2.6+ MB

In [8]:
##these are the features with nan value
features_with_na=[features for features in df_data.columns if df_data[features].isnull().sum()>=1]
for feature in features_with_na:
    print(feature,np.round(df_data[feature].isnull().mean()*100,5), '% missing values')

ammonia 0.0375 % missing values
cadmium 3.10039 % missing values
flouride 0.8001 % missing values
perchlorate 3.33792 % missing values

In [9]:
features_with_na

['ammonia', 'cadmium', 'flouride', 'perchlorate']

In [12]:
# Impute missing values with mean for selected features
for feature in features_with_na:
    df_data[feature].fillna(df_data[feature].mean(), inplace=True)

C:\Users\thang\AppData\Local\Temp\ipykernel_19644\2042558406.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_data[feature].fillna(df_data[feature].mean(), inplace=True)

In [13]:
df_data[features_with_na].isnull().sum()

ammonia        0
cadmium        0
flouride       0
perchlorate    0
dtype: int64

In [14]:
df_data.duplicated().sum()

np.int64(0)

In [15]:
df_data.columns

Index(['aluminium', 'ammonia', 'arsenic', 'barium', 'cadmium', 'chloramine',
       'chromium', 'copper', 'flouride', 'bacteria', 'viruses', 'lead',
       'nitrates', 'nitrites', 'mercury', 'perchlorate', 'radium', 'selenium',
       'silver', 'uranium', 'is_safe', 'aluminium_high', 'ammonia_high',
       'arsenic_high', 'barium_high', 'cadmium_high', 'chloramine_high',
       'chromium_high', 'copper_high', 'bacteria_high', 'viruses_high',
       'lead_high', 'nitrates_high', 'nitrites_high', 'mercury_high',
       'perchlorate_high', 'radium_high', 'selenium_high', 'silver_high',
       'uranium_high', 'danger_count', 'nitrate_nitrite_ratio',
       'bacteria_viruses'],
      dtype='object')

In [16]:
df_data['is_safe'].value_counts()

is_safe
0        7084
1         912
#NUM!       3
Name: count, dtype: int64

In [17]:
# Drop rows where is_safe is NaN after conversion
df = df_data.dropna(subset=["is_safe"])

In [19]:
df['is_safe'].value_counts()

is_safe
0        7084
1         912
#NUM!       3
Name: count, dtype: int64